<table class="table">
  <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Days Left</th>
      <% if @user == current_user %>
        <th scope="col">Complete</th>
      <% end %>
    </tr>
  </thead>
  <% @user.items.each do |i| %>
    <tbody>
        <td><%= "#{i.name}" %></td>
        <td>
          <%= from_time(i) %>
        </td>
        <% if @user == current_user %>
          <td><%= link_to "Complete", [@user, i], remote: true, method: :delete, class: 'glyphicon glyphicon-ok' %></td>
        <% end %>
    </tbody>
  <% end %>
</table>
